.in
{
    -webkit-border-radius: 20px;
    width:10em;
}
form
{
    float:left;
}
div.formWrapper
{
    margin-left: 200px;
    margin-right: 500px;
}
label
{
    width: 7em;
    float: left;
    text-align: right;
    margin-right: 1em;
}

#submit
{
    border: none;
    vertical-align: top;
    margin-left: 10em;
    background: white url("login_bg.gif") no-repeat top;
    width: 15em;
    height: 25px;
    text-align: center;
}