html
{
	background-image: url("./images/gradient.jpg");
	background-size: 100% auto;
	background-repeat: repeat;
	background-position: 0% 0%;		
}
html, body, .container
{
	height: 100%; 
	min-height: 100%;
}

body {
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;	
}	

ul
{
	list-style-type: none;
}	

li
{
	font: 20px;
}

.ProfilePage {
	float: left;
	width: 22.5%;
	height: 27.5%;
	background-color: #D8D8E0;
}

#ProfilePicture{
	float: left; 
	max-width:90%; 
	max-height:90%;
	padding-bottom:2.5%;
	padding-left:2.5%;
	padding-top:2.5%;
}

#ProfilePic{
	width: 40%;
	height 40%;
}

#ProfileTile{
	height: 100%;
	width: 100%;
}

/* Student Selection Tile */
#TileFont
{
	color: #ffffff;	
}

.MenuPage{
	padding-top: 1.5%;
	float: left;
	width: 22.5%;
	height: 62.5%;
	background-color: #6A6A6E;
}

#MenuOptions{
	list-style: none;
	
}

#MenuButtons{
	width: 90%;
}	

.ScheduleAppointmentPage {
	float: right;
	width: 77.5%;
	height: 90%;
	background-color: #1947D1;
	padding-left: 3%;
	padding-top: 2%;			
}

.AddStudentPage{
	float: right;
	width: 77.5%;
	height: 90%;
	background-color: #1947D1;
	padding-left: 3%;
	padding-top: 2%;		
}

.StudentSelectionPage{
	float: right;
	width: 77.5%;
	height: 90%;
	background-color: #1947D1;
	padding-left: 3%;
	padding-top: 2%;		
}

.StudentProfilePage{
	float: right;
	width: 77.5%;
	height: 90%;
	background-color: #1947D1;
	padding-left: 3%;
	padding-top: 2%;		
}

/* Student Comments page */
.BluefeedsNewsPage{
	float: right;
	width: 77.5%;
	height: 90%;
	background-color: #1947D1;
	padding-left: 5%;
	padding-top: 3%;
}

.StudentCommentsSplit{
	float: right;
	width: 100%;
	height: 90%;
	background-color: #1947D1;
	padding-left: 2%;
	padding-top: 1%;
}

#TimeFilterButton {
	width: 10%;
	height: 20%;
}

#TimeFilterButtonSplit {
	width: 5%;
	height: 20%;
}

#NewCommentArea {
	float: left;
	width: 80%;
}

/* RSS Feeds Page */
.BluefeedsNewsPage{
	float: right;
	width: 77.5%;
	height: 90%;
	background-color: #1947D1;
	padding-left: 5%;
	padding-top: 3%;
}

/* login page*/
#logincenter
{
	background-image: url("./images/med.png"), url("./images/gradient.jpg");
	background-size: auto, 100% 100%;
	background-repeat: no-repeat, repeat;
	background-position: 50% 20%, 50% 0%;		
}
#LoginPage
{
	padding-left: 38%;
	padding-top: 25%;
}

#signinbutton
{
	padding-top: 1%;
}

/* Landing Page */
.BluefeedsNewsLandingPage{
	float: right;
	width: 77.5%;
	height: 55%;
	background-color: #1947D1;
	padding-left: 3%;
	padding-top: 2%;		
}

.NextAppointmentPage {
	float: left;
	width: 41.25%;
	height: 35%;
	background-color: #DDDDDD;
}

#CurrentAppointments {
	font-size: 150%;
	padding-bottom: 2%;
}

.MostRecentCommentPage {
	float: right;
	width: 36.25%;
	height: 35%;
	background-color: #4D94FF;			
}

#RecentCommentText {
	font-size: 150%;
	padding-bottom: 2%;
}

#RecentCommentDiv{
	padding-top: 3%;
	padding-right: 3%;
	float: left;
}

.AppointmentsPage{
	padding-left: 3%;
	padding-top: 3%;
	float: right;
	width: 77.5%;
	height: 90%;
	background-color: #1947D1;
}

#Accordion{
	width: 95%;
}

#courseButton {
	float: right;
	margin-bottom: 5%;
}

