        label.overBlue
        {
            color: white;
        }
        .loginCenter
        {
            padding-top:15%;
            height:25em;
            background-image:url("./med.png"), url("./gradient.jpg");
            background-repeat:no-repeat;
            background-position:50% 20%;
        }
	
	.container{
	    margin-top: 25%;
	    margin-left: 7%;
	    margin-right: 7%;
	    color: rgb(10,10,127);
	    background-position: center;
	    opacity: 25%;
	    background-size:80%;
	    background-repeat: no-repeat;
	    background-color: rgb(227,244,249);
	    -moz-border-radius: 20px;
	    -webkit-border-radius: 20px;
	    -khtml-border-radius: 20px;
	    border-radius: 20px;
	    text-align: center;
	}

        #commentText{
            margin-left:3%;
            margin-right:3%;
            margin-top:20%;
            font-size:150%;
        }
                .input
        {
            padding-left: 12.5%;
            width:75%;
        }

        .newAcctCenter
        {
            height: 25em;
        }
        .hideable{
            display: none;
            position: relative;
        }
        .trigger{
            position: relative;
        }
        #comment
        {
            height: 10em;    
        }
        	#popupPanel-popup {
			right: 0 !important;
			left: auto !important;
		}
		#popupPanel {
			width: 200px;
			border: 1px solid #000;
			border-right: none;
			background: rgba(0,0,0,.5);
			margin: -1px 0;
		}
		#popupPanel .ui-btn {
			margin: 2em 15px;
		}
		#commentBox {
			height : 150px;
		}
		.note
		{
		    -webkit-transform: translateZ(0);
		    overflow:hidden;
		    white-space:nowrap;
		}
		.noteControl
		{
		    -webkit-transform: translateZ(0);

		}
